---
layout: main
navigation: true # add this page to site navigation list
title: Home # will be used in site navigation as link text
id: home
sitemap:
  priority: 1
  changefreq: daily
---
{% if site.posts != empty %}
<section class="cf">
  <h1 class="section-title" data-icon="B">Blog</h1>
  <ul class="posts cf">
    {% for item in site.posts limit:5 %}
      {% unless item.draft %}
{% include post_preview.html %}
      {% endunless %}
    {% endfor %}
  </ul>
  <a href="/archive/" class="more">Archive >></a>
</section>
{% endif %}

<section class="cf">
  <h1 class="section-title"><span class="bubbles-flask">L</span>Lab</h1>
  <ul class="experiments cf">
    {% for item in site.experiments limit:4 %}
{% include experiment_preview.html %}
    {% endfor %}
  </ul>
  <a href="/lab/" class="more">Laboratory >></a>
</section>

<section class="cf">
  <h1 class="section-title profile" data-icon="A">{{ site.author.name }}</h1>
  <p class="about">{{ site.author.about }}<br /><br />A more detailed look at my professional capabilities and experience is available in my <a href="/resume.html">resume</a>.</p>
</section>
