.TwitterShareButton {
  border: none;

  .TwitterSVGIcon {
    width: 100px;
    height: 100px;
  }

  .TwitterSVGIcon-circle {
    transition: fill 0.5s ease 0s;
    fill: #00B1FF;
  }

  .TwitterSVGIcon-bird {
    fill: white;
  }

  &:hover .TwitterSVGIcon-circle {
    fill: #B1E7FF;
  }
}
