---
layout: inner
navigation: true # add this page to site navigation list
title: Lab # will be used in site navigation as link text
description: "Laboratory, collection of experiments by Sergey Lukin"
sitemap:
  priority: 0.5
  changefreq: weekly
---

{% assign array = site.experiments %}

{% for item in array  %}
  {% capture this_year %}{{ item.date | date: "%Y" }}{% endcapture %}

  {% if this_year != prev_year %}
    </ul>
    <h2>{{this_year}}</h2>
    <ul class="experiments cf">
  {% endif %}

  {% include experiment_preview.html %}

  {% if forloop.last %}
    </ul>
  {% endif %}

  {% capture prev_year %}{{ item.date | date: "%Y" }}{% endcapture %}
{% endfor %}
