/* =============================================================================
   Helpers
   ========================================================================== */
/*
 * Mini Clearfix
 */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}


/*
 * Custom Fonts
 */
@font-face {
    font-family: 'SergeySymbols';
    src: url('../fonts/sergeysymbols/sergeysymbols-webfont.eot');
    src: url('../fonts/sergeysymbols/sergeysymbols-webfont.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/sergeysymbols/sergeysymbols-webfont.woff') format('woff'),
         url('../fonts/sergeysymbols/sergeysymbols-webfont.ttf') format('truetype'),
         url('../fonts/sergeysymbols/sergeysymbols-webfont.svg#YourIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Terminal Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Terminal Dosis Book'), local('TerminalDosis-Book'),
    url('../fonts/terminaldosis/terminaldosis-webfont.woff') format('woff');
}



/* =============================================================================
   Basic elements styles
   ========================================================================== */
::selection {
    background-color: #FF6500;
    color: white;
}

body {
    color: #585858;
    background-color: #fff;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url(../img/grid_noise.png);

    /* Use Body element as a content container */
    max-width: 35em;
    padding: 0 1em;
    margin: 0 auto;
}


a, a:visited {
    color: #2f678e;
    text-decoration: none;
    border-bottom: 1px solid #2f678e;
}
a:hover {
    color: #71a4c8;
    border: none;
}

time {
    font-family: 'Terminal Dosis', sans-serif;
    font-weight: bold;
    color: #A2A2A2;
}

pre code {
    color: black;
}

pre, code, kbd, samp {
    font-family: consolas,monospace,x;
}

pre {
    overflow-x: auto;
    border: 1px solid #E6E6E6;
    border-left-width: 5px;
    font-size: 0.875em;
    background: #FCFCFC;
}

mark {
    font-weight: bold;
    color: black;
    background-color: #FFD5AE;
}

blockquote {
    border-left: .5em solid #CCC;
    color: #444;
}

hr {
  border: 0;
  height: 1px;
  background: #CCC;
}

/* =============================================================================
   Concrete elements styles
   For all pages
   ========================================================================== */
/*
 * Navigation menu
 */
.nav ul {
    list-style: none;
    padding: 0;
}
.nav li {
    display: inline;
    margin: 0 1em 0 0;
}
.nav a {
    font-size: 1.7em;
    border-bottom-width: .1em;
    border-bottom-style: solid;

    /* border-bottom-color: #ababac; */
    /* color: #ababac; */
    border-bottom-color: #8a9ba7;
    color: #8a9ba7;
}
.nav a:hover {
    /* border-bottom-color: #c0c1c2; */
    /* color: #c0c1c2; */
    border-bottom-color: #aab7c0;
    color: #aab7c0;
}
.nav a.active {
    border-bottom-width: .2em;
}

.nav a.blog {
    /* border-bottom-color: #8a9ba7; */
    /* color: #8a9ba7; */
}
.nav a.blog:hover {
    /* border-bottom-color: #aab7c0; */
    /* color: #aab7c0; */
}

.nav a.lab {
    /* border-bottom-color: #a58b71; */
    /* color: #a58b71; */
}
.nav a.lab:hover {
    /* border-bottom-color: #bcab99; */
    /* color: #bcab99; */
}


/*
 * Section Titles
 */
.section-title {
    position: relative;
    font-size: 3.5em;

    color: #aab7c0;
    color: rgba(94, 118, 134, .5);
    /* color: #c0c1c2; */
    /* color: rgba(139, 139, 139, .5); */
}
/* Add colors to some titles */
.section-title.blog {
    /* color: #aab7c0; */
    /* color: rgba(94, 118, 134, .5); */
}
.section-title.lab {
    /* color: #bcab99; */
    /* color: rgba(131, 95, 56, .5); */
}

/*
 * Tags List
 */
.tags {
  padding: 0;
}
.tags li {
  list-style: none;
  display: inline;
}
.tags a {
    padding: .4em 1em;
    border-bottom: 0;
    background-color: rgba(167, 167, 167, .2);
    color: #585858;
    border-radius: 4em;
    font-size: .8em;
}

/*
 * Posts Uordered List
 */
.posts {
    padding: 0;
    margin-top: -1em;
}
.posts li {
    list-style: none;
    position: relative;
    margin: 1em 0 0;
}
.posts time {
    display: block;
}
.posts a {
    font-family: 'Terminal Dosis', sans-serif;
    
    display: block;
    padding: 1em 2em;
    border: none;

    color: #585858;
    background-color: #e8e9eb;
    background-color: rgba(167, 167, 167, .2);
}
.posts a:hover {
    color: #fff;

    background-color: #585858;
    background-color: rgba(0, 0, 0, .5);
}


/*
 * Lab Experiments Unordered List
 */
.experiments {
    padding: 0;
}
.experiments li {
    list-style: none;
    margin-top: 1em;
}
.experiments time {
    display: none;
}
.experiments a {
    font-family: 'Terminal Dosis', sans-serif;

    display: block;
    padding: 1em;
    border: none;

    color: #585858;
    background-color: #e8e9eb;
    background-color: rgba(167, 167, 167, .2);
}

.experiments a:hover {
    color: #fff;

    background-color: #585858;
    background-color: rgba(0, 0, 0, .5);
}
/*
 * Elements inside anchor (like sub-title and description)
 */
.experiments span {
  display: block;
}
.experiments .title {
  font-size: 2em;
}
.experiments .sub-title {
  font-size: .8em;
}
.experiments .desc {
  font-family: sans-serif;
  margin-top: 1em;
}


/*
 * More link
 */
a.more {
    background-color: #E8E9EB;
    border: 0;
    text-align: center;
    padding: .4em .8em;
    display: inline-block;
    color: #fff;

    background-color: #bcab99;
    background-color: rgba(131, 95, 56, .5);
}
a.more:hover {
    background-color: #a58b71;
    background-color: rgba(131, 95, 56, .7);
}
.more.blog {
    /* background-color: #aab7c0; */
    /* background-color: rgba(94, 118, 134, .5); */
}
.more.blog:hover {
    /* background-color: #8a9ba7; */
    /* background-color: rgba(94, 118, 134, .7); */
}
.more.lab {
    /* background-color: #bcab99; */
    /* background-color: rgba(131, 95, 56, .5); */
}
.more.lab:hover {
    /* background-color: #a58b71; */
    /* background-color: rgba(131, 95, 56, .7); */
}


/*
 * Paragraph with personal info
 */
.about {
    color: #585858;
    background-color: #e8e9eb;
    background: rgba(167, 167, 167, .2);
    padding: 1em;
    margin-top: 0em;
}

/*
 * Social Links
 */
.social-icons {
  text-align: center;
}
a.social-icon {
    text-indent: -9999px;
    width: 5.5em;
    height: 5.5em;
    display: inline-block;
    
    position: relative;

    /* color: #8a9ba7; */
    color: #7D8A97;
    border: none;
}
a.social-icon:hover {
    color: #babbbc;
}
a.social-icon:before {
    position: absolute;
    content: attr(data-icon);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0;
    font-family: 'SergeySymbols', cursive;
    font-size: 3.9em;
}
a.social-icon.email:before {
    font-size: 3em;
    top: .3em;
}
.social-icon.github:hover {
    color: #585858;
}
.social-icon.twitter:hover {
    color: #3892af;
}
.social-icon.forrst:hover {
    color: #5b9a68;
}
.social-icon.email {
    color: #e14b40;
}
.social-icon.email:hover {
    color: #e14b40;
}

/*
 * Session post informational bar
 */
.session-post {
  padding: 0 .5em;
  color: #3e3e3e;
  border: 1px solid #DBDBDB;
  background: #ECF4FA;
  margin: 1.5em 0;
  font-size: .8em;
}
  .session-post p {
    font-style: italic;
  }


/*==========================
 * Modernizr stuff
 * Disable some styles
 * if browser does not
 * support them
 * ========================*/
/* Don't show symbols in section titles */
.no-fontface .section-title {
  padding: 0;
}
.no-fontface .section-title:before {
  display: none;
}
/* No need in padding for UL items */
.no-fontface .posts,
.no-fontface .experiments {
  padding: 0;
}

/* Don't show symbols in social icons */
.no-fontface .social-icon {
  padding: 0 .5em;
  display: inline;
}
.no-fontface .social-icon:before {
  display:none;
}


/* =============================================================================
   Article page specific Styles
   ========================================================================== */
#disqus_thread {
  margin-top: 2em;
}
#disqus_thread a {
  border-bottom: 0;
}

/* =============================================================================
   Resume page specific styles
   ========================================================================== */
#vcard h1 {
  font-size: 3em;
}
#vcard h1,
#vcard h2 {
  font-family: 'Terminal Dosis', sans-serif;
}
#vcard h1,
#vcard dl {
  text-align: center;
}
#vcard dt {
  display: none;
}

/* =============================================================================
   404/403/etc pages specific styles
   ========================================================================== */
#empty-page {
  text-align: center;
}

/* =============================================================================
   Media Queries
   ========================================================================== */
@media (min-width:320px) {
    /* Don't take 100% of width for bigger screens */
    .posts a {
        display: inline-block;
    }
}

@media (min-width:534px) {
    body {
        font-size: .9em;
    }

    /* Add space from top to homepage only to big screens and only if there is
     * @font-face support (which means that there are huge icons which are
     * taking that space */
    #home {
      padding-top: 3em;
    }
    .no-fontface #home {
      padding-top: 0;
    }

    /* Limit width of posts titles as we need to leave space for Time element
     * from right */
    .posts a {
        max-width: 18em;
    }
    .posts time {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 3.3em;
    }
    .posts a:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .experiments {
        margin-top: -1em;
    }
    .experiments a:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

    .section-title {
        padding: 0 0 0 2.4em;
    }
    .section-title:before {
        font-family: 'SergeySymbols', cursive;
        font-weight: normal;
        font-size: 2em;
        content: attr(data-icon);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .section-title.blog:before {
        left: -.1em;
        bottom: .04em;
    }
    .section-title.lab:before {
        left: -.12em;
        bottom: -.01em;
    }
    .section-title.profile:before {
        bottom: .04em;
    }

    .more {
        float: right;
    }
}
@media (min-width:780px) {
    body {
        font-size: 1em;
    }
}
