@import "../../variables";

.Post {
  background-color: white;
  position: relative;
  overflow: hidden;

  .ProjectLauncher_container {
    text-align: center;
  }
  .ProjectLauncher {
    &:hover {
      opacity: .9;
    }
    display: inline-block;
    margin: 0 auto;
    border-width: 3px;
    border-radius: 0;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: #ffaf5a;
    padding: 10px 16px;
    text-decoration: none !important;
    line-height: 1.2;
    > svg {
      margin-left: 4px;

      display: inline-block;
      pointer-events: none;
      vertical-align: bottom;
      fill: currentColor;

      width: 14px;
      height: 14px;
      position: relative;
      top: -2px;
    }
  }

  z-index: 1;
  &::before {
    z-index: -1;
    content: "";

    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 1;
  }

  @media only screen and (min-width: $medium-screen-breakpoint) {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .15);
  }
  margin: 0;
  padding: 8vw;
  @media only screen and (min-width: $medium-screen-breakpoint) {
    padding: 3vw 4vw;
    margin: 0;
    //    margin-left: 6vmin;
    //    margin-right: 6vmin;
  }
}

.background {
  z-index: -1;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  opacity: .5;
  filter: blur(1px);
}

.time {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: $carpet-color;
  color: rgba(0, 0, 0, 0.6);
}

.title {
  @media only screen and (min-width: $medium-screen-breakpoint) {
    display: inline-block;
  }
  padding: 2rem 2.5rem;
  background-color: $carpet-color;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.content {
  @media only screen and (min-width: $medium-screen-breakpoint) {
    display: inline-block;
  }
  background-color: $carpet-color;
  padding: 2rem 2.5rem;
}
