---
layout: inner
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    <span class="post-info">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>{{ page.date | date: "%B %d, %Y" }}</time> by <a href="/resume.html" rel="author">Sergey Lukin</a>
    </span>
  </header>
  
  {{ content }}

  {% if site.like_button_twitter %}
  <!-- Tweet -->
  <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
  {% endif %}

{% comment %}
  {% unless page.tags == empty %}
  <footer class="post__footer">
  <p>Tagged with
  {% for tag in page.tags %}
  <a href="/tags#{{ tag }}">{{ tag }}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
  <p>
  </footer>
  {% endunless %}
{% endcomment %}

<hr />

  {% if site.disqus.enabled %}
  <!-- Disqus comments -->
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the </noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}

</article>
